{% extends "base.html" %}

{% block content %}
  <div class="jumbotron">
    <div class="container">
      <p class="jumbotron-eyebrow">
        {% trans %}Team{% endtrans %}
      </p>
      <h1>{% trans %}Join Team{% endtrans %}</h1>
    </div>
  </div>
  <div class="container">
    <div class="team-card text-center">
      {% include "components/errors.html" %}

      <p class="h3">
        {% trans %}Welcome to{% endtrans %} <strong>{{ team.name }}</strong>!
      </p>

      <p>
        {% trans %}Click the button below to join the team!{% endtrans %}
        <br>
        <small class="text-muted">
          Or <a href="{{ url_for('teams.new') }}">click here</a> if you'd prefer to create your own team.
        </small>
      </p>

      {% with form = Forms.teams.TeamInviteJoinForm() %}
        <form method="POST">
          {{ form.submit(class="btn btn-primary w-100") }}
          {{ form.nonce() }}
        </form>
      {% endwith %}
    </div>
  </div>
{% endblock %}
