@use "~/@fontsource/google-sans/scss/mixins" as GoogleSans;

@include GoogleSans.faces(
  $directory: "../webfonts",
  $subsets: (
    latin,
    latin-ext,
  ),
  $weights: (
    400,
    500,
    600,
    700,
  ),
  $styles: normal
);

$fa-font-path: "../webfonts";
@import "~/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~/@fortawesome/fontawesome-free/scss/solid.scss";
@import "~/@fortawesome/fontawesome-free/scss/brands.scss";
