{% extends "layouts/auth.html" %}

{% block auth %}
  <h2 class="auth-heading">
    {% trans %}Confirm{% endtrans %}
  </h2>

  {% if request.args.get('flow') == "init" %}
    <p class="auth-subheading">
      {% trans %}To send a confirmation email to your email address, please click the button below.{% endtrans %}
    </p>
  {% else %}
    <p class="auth-subheading">
      {% trans %}We've sent a confirmation email to your email address.{% endtrans %}
    </p>
  {% endif %}

  {% include "components/errors.html" %}

  <p>
    {% trans %}Please click the link in that email to confirm your account.{% endtrans %}
  </p>
  <p class="mb-4 text-body-secondary">
    {% trans %}If the email doesn’t arrive, check your spam folder or contact an administrator to manually verify your account.{% endtrans %}
  </p>

  {% with form = Forms.auth.ConfirmForm() %}
    <form method="POST" action="{{ url_for('auth.confirm') }}">
      {{ form.submit(class="btn btn-primary w-100") }}

      <a href="{{ url_for('views.settings') }}" class="btn border w-100 mt-3">
        {% trans %}Change Email Address{% endtrans %}
      </a>

      {{ form.nonce() }}
    </form>
  {% endwith %}

  <p class="mt-4 mb-0 text-center">
    <a class="fw-semibold" href="{{ url_for('auth.logout') }}">
      {% trans %}Logout{% endtrans %}
    </a>
  </p>
{% endblock %}
